[submodule "external/LimeSuite"]
	path = external/LimeSuite
	url = https://github.com/myriadrf/LimeSuite.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "external/libusb"]
	path = external/libusb
	url = https://github.com/libusb/libusb
